# set the FOUNDRY_PROFILE env var to change profiles

# default
[profile.default]
solc = "0.8.15"
gas_reports = ["*"]
optimizer_runs = 1_000_000
bytecode_hash = "none"

fs_permissions = [{ access = "read", path = "./addresses/"}]

# anvil
[profile.anvil]
eth_rpc_url="http://127.0.0.1:8545"

# fuzz settings
[profile.default.fuzz]
runs = 256
[profile.intense.fuzz]
runs = 10_000
max_test_rejects = 655_360

[fmt]
bracket_spacing = true